venv
__pycache__
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
../.idea/
.idea/
./api/.idea
trialapirun.py
zipcode.py
app.py
ramhacks-196ad-firebase-adminsdk-pfns7-643850173d.json
test1.py
